.shop-list-main{
    position: relative;
}

.input-toolbar-wrapper{
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  float: left;
  height: 36px;
  padding-right: 3rem;
 }