<div class="content">
    <div class="logo">
        <img src="/assets/imgs/dots-admin.png" alt="Logo">
    </div>
    <div class="topbar">
        <button type="button" class="btn btn-primary clear-outline">
            <fa-icon [icon]="justifyIcon"></fa-icon>
        </button>
        <div class="navbar-nav-interim">
            <a routerLink="/admin/currencies" routerLinkActive="active">Currencies</a>
            <a routerLink="/admin/payments" routerLinkActive="active">Payments</a>
            <a routerLink="/admin/global-setting" routerLinkActive="active">Platform settings</a>
        </div>
    </div>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link clear-outline" href="#">
                <fa-icon [icon]="bellIcon"></fa-icon>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li>
        <li class="nav-item" ngbDropdown>
            <a mat-fab-button color="primary" ngbDropdownToggle class="ml-4">
                <img src="/assets/imgs/avatar-f.png" class="navbar-avatar">
            </a>
            <div ngbDropdownMenu aria-labelledby="profileDropdown" class="dropdown-menu">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
                <a ngbDropdownItem routerLink="/admin/user"><fa-icon [icon]="userIcon"></fa-icon> Profile</a>
                <a ngbDropdownItem routerLink="/admin/messages">
                    <fa-icon [icon]="envelopeIcon"></fa-icon> Messages 
                    <span class="badge badge-success">42</span>
                </a>
                <a ngbDropdownItem routerLink="/admin/user-settings"><fa-icon [icon]="settingsIcon"></fa-icon> Settings</a>
                <a type="button" ngbDropdownItem (click)="logout()"><fa-icon [icon]="logoutIcon"></fa-icon> Logout</a>
            </div>
        </li>
    </ul>
</div>