<div class="main-container">
    <mat-toolbar class="example-header p-0">
        <top-menubar style="width: 100%;"></top-menubar>
    </mat-toolbar>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="sidenav p-0">
            <div class="sidebar-nav-wrapper">
                <sidebar-left></sidebar-left>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet> 

            <div class="module-loader" *ngIf="moduleLoading">
                <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
            </div>

            
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>

  