<div class="main-container p-0 m-0">
    <div class="main-content-wrap">
        <app-sidebar-left></app-sidebar-left>
        <app-topbar></app-topbar>
        <div class="container">
            <div class="row">
                <router-outlet></router-outlet> 
            </div>
        </div>
        <app-sidebar-right></app-sidebar-right>
        <app-footer></app-footer>
        
        <div class="module-loader" *ngIf="moduleLoading">
            <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
        </div>

    </div>
</div>