<div class="main-container">
    <mat-toolbar class="toolbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                    <ul class="activity-toggle">
                        <li class="nav-item">
                            <a class="nav-link"><i class="icon icofont-align-left"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </mat-toolbar>

    <section class="monitor-main">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <aside class="inside-sidebar">
            <div class="inside-sidebar-item">
                <div class="inside-sidebar-item-content">
                    <div class="item-number">46</div>
                    <div class="item-icon"><i class="icofont-4x icofont-people"></i></div>
                </div>
                <div class="inside-sidebar-item-footer">
                    <p class="text-center">Registered users</p>
                </div>
            </div>
            <div class="inside-sidebar-item">
                <div class="inside-sidebar-item-content">
                    <div class="item-number">66</div>
                    <div class="item-icon"><i class="icofont-4x icofont-building-alt"></i></div>
                </div>
                <div class="inside-sidebar-item-footer">
                    <p class="text-center">Apartments</p>
                </div>
            </div>
            <div class="inside-sidebar-item">
                <div class="inside-sidebar-item-content">
                    <div class="item-number">26</div>
                    <div class="item-icon"><i class="icofont-4x icofont-handshake-deal"></i></div>
                </div>
                <div class="inside-sidebar-item-footer">
                    <p class="text-center">Existing shops</p>
                </div>
            </div>
            <div class="inside-sidebar-item">
                <div class="inside-sidebar-item-content">
                    <div class="item-number">66</div>
                    <div class="item-icon"><i class="icofont-4x icofont-bebo"></i></div>
                </div>
                <div class="inside-sidebar-item-footer">
                    <p class="text-center">Carnival bands</p>
                </div>
            </div>
        </aside>
    </section>
</div>
