@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;1,400&&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Perfect scrollbar stylesheet file */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

/** Import Icofont stylesheet **/
@import './assets/css/icofont.min.css';

/* You can add global styles to this file, and also import other style files */
html,body{
    background-color: whitesmoke;
    font-size: 12px;
    color: #333;
    height: 100%;
    padding: 0;
    margin: 0;
}
.text-wrap{
    text-align: center;
    vertical-align: middle;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif; 
    font-size: .9rem;
    font-weight: normal;
}

.alert.alert-custom{
    border-left: 3px solid transparent;}
.alert.alert-custom.alert-danger{
    border-left-color: #721c24;}
.alert.alert-custom.alert-success{
    border-left-color: #155724;}
.alert.alert-custom.alert-warning{
    border-left-color:#856404}
.clear-outline{
    border: 0px none;
    border-color: transparent;
    outline: none;}
.clear-outline:focus,
.clear-outline:active,
.clear-outline:visited{
    outline: none;}

.scrollbar{
    position: relative;
    width: 100%;
    height: 600px;
}

.module-loader{
    position: absolute;
    right: 10px;
    top: 10px;
}

