@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;1,400&&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Perfect scrollbar stylesheet file */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

/** Import Icofont stylesheet **/
@import './assets/css/icofont.min.css';

/* You can add global styles to this file, and also import other style files */
html,body{
    background-color: whitesmoke;
    font-size: 12px;
    color: #333;
    height: 100%;
    padding: 0;
    margin: 0;
}
.text-wrap{
    text-align: center;
    vertical-align: middle;
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif; 
    font-size: .9rem;
    font-weight: normal;
}

.alert.alert-custom{
    border-left: 3px solid transparent;}
.alert.alert-custom.alert-danger{
    border-left-color: #721c24;}
.alert.alert-custom.alert-success{
    border-left-color: #155724;}
.alert.alert-custom.alert-warning{
    border-left-color:#856404}
.clear-outline{
    border: 0px none;
    border-color: transparent;
    outline: none;}
.clear-outline:focus,
.clear-outline:active,
.clear-outline:visited{
    outline: none;}

.scrollbar{
    position: relative;
    width: 100%;
    height: 600px;
}

.module-loader{
    position: absolute;
    right: 10px;
    top: 10px;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.breadcrumb{
    background-color: transparent;  
    float: left;
    padding: 0.6rem 1rem                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}

.breadcrumb .breadcrumb-item{
    font-size: 1.2rem
}

.breadcrumb .breadcrumb-item a{
    cursor: pointer;
    color: #92abcf;
}

.breadcrumb li a:link,
.breadcrumb li a:visited,
.breadcrumb li a:hover,
.breadcrumb .breadcrumb-item a:visited,
.breadcrumb .breadcrumb-item a:hover{
    text-decoration: none;
    color: #e7edf7;
}

.toolbar{
    background-color: rgb(29, 38, 54);
    background-image: linear-gradient(to right, rgba(13, 230, 255, 0.15) 0%, rgba(201, 189, 174, 0) 25%);
    box-shadow: 1px 2px 1px 2px rgba(0,0,0,0.15);
    position: sticky;
    display: flex;
    width: 100%;
    top: -2px;
    font-family: "Nunito", sans-serif;
    padding: 1rem .8rem;
    z-index: 999999;
}

.content-body{
    display: flex;
    background-color:#1d2636;
    border: 1px solid #18202e;
    padding: 1.45rem;
}

.table{
    color:  #849ec2;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #161e2b;
}

.table thead th{  
    text-transform: uppercase;
    border-bottom-color: #18202e;
}

.module-loading-container{
    background-color:rgba(12, 15, 22, 0.78);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
}

.alert-custom{
    padding: .45rem;
    border: 1px solid transparent;
}

.alert-custom.alert-info{
    background-color: #2ecfca;
    border-color: #23b3ae
}

.input-control {
    background-color: rgb(15, 19, 27);
    border: 1px solid rgb(12, 15, 22);
    outline: none;
    font-family: "Nunito", sans-serif;
    padding: 1rem .8rem;
    color: #ccd3df
}

.input-control:focus{
    outline: none;
    color: #ccd3df;
    box-shadow: none;
    background-color: rgb(15, 19, 27);
    border: 1px solid rgb(12, 15, 22);
}

.form .control-label{
    color: #849ec2;
}

.fieldset{
    border: 1px solid #b0b9c9;
    padding: 1.2rem 1.4rem;
}

.fieldset > legend{
    color: #ccd3df;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0px;
}