@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,400;0,500;1,100&display=swap');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
html,body{
    background-color: whitesmoke;
    font-size: 12px;
    color: #333;
    height: 100%;
    padding: 0;
    margin: 0;
}
.text-wrap{
    text-align: center;
    vertical-align: middle;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.1rem
}

.alert.alert-custom{
    border-left: 3px solid transparent;}
.alert.alert-custom.alert-danger{
    border-left-color: #721c24;}
.alert.alert-custom.alert-success{
    border-left-color: #155724;}
.alert.alert-custom.alert-warning{
    border-left-color:#856404}


